body {
  padding: 0;
  max-width: 1440px;
  margin: 0 auto;
}

/* Typography */
* {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 2.75rem;
  margin: 1rem 0;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

p,
a {
  font-size: 1.25rem;
}

/* Make Iconify fonts larger */
svg {
  font-size: 1.5em;
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  p,
  a {
    font-size: 1rem;
  }
}
/* Header styles */
header {
  padding: 1.5rem;
}
header .menu-icon {
  display: none;
}
header svg {
  cursor: pointer;
}
header span {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
}
header nav ul {
  margin: 0;
  padding: 0;
  gap: 0.75rem;
}
header nav ul li {
  list-style: none;
  /* Center align Iconify fonts */
  display: flex;
  align-items: center;
}
header nav ul li > * {
  padding: 0.75rem;
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  header span {
    font-size: 1.35rem;
  }
  header .menu-icon {
    display: block;
  }
  header nav ul li:not(:last-child) {
    display: none;
  }
}
/* Intro Section styles */
#intro {
  padding: 1.5rem;
}
#intro img {
  flex-basis: 50%;
  max-width: 100%;
  height: auto;
  animation: fadeIn 1s ease;
}
#intro div {
  flex-basis: 50%;
  padding: 1.5rem;
}
#intro div:last-of-type {
  background-image: url("assets/circle-design.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 900px) {
  #intro {
    flex-direction: column-reverse;
  }
}
#companies {
  max-width: 1100px;
  margin: auto;
}
#companies hr {
  border-color: rgba(255, 175, 175, 0.75);
}
#companies > div {
  margin: 2rem;
  gap: 2.5rem;
  flex-wrap: wrap;
}
#companies > div img {
  max-width: 12.5%;
}

#collection {
  width: fit-content;
  max-width: 100%;
  margin: 0 auto;
  padding: 3rem;
  gap: 3rem;
}
#collection > span {
  color: #f5c5cf;
  align-self: flex-end;
  cursor: pointer;
}
#collection > div {
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
#collection > div > div {
  max-width: 30vw;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
#collection > div > div img {
  max-width: 100%;
  height: auto;
}
#collection > div > div h3 {
  margin: 0.5rem 0 0 0;
}
#collection > div > div .price {
  font-size: 1.5rem;
}

@media screen and (max-width: 900px) {
  #collection > div {
    grid-template-columns: repeat(2, 1fr);
  }
  #collection > div > div {
    max-width: none;
  }
}
@media screen and (max-width: 576px) {
  #collection > div {
    grid-template-columns: repeat(1, 1fr);
  }
}
footer {
  padding: 1.5rem;
  background-color: #000031;
  color: white;
}
footer h3 {
  margin: 0;
}
footer svg {
  cursor: pointer;
}

/* Utility Classes */
.crimson-button {
  background-color: crimson;
  color: white;
  border: 0;
  outline: 0;
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0.25rem;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-4 {
  gap: 1rem;
}
